<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<nav class="topbar" th:fragment="navbar">
    <a th:href="@{/}" class="logo">Car Forum</a>

    <input type="checkbox" id="menu-toggle" class="menu-toggle-checkbox">
    <label for="menu-toggle" class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </label>

    <div class="nav-links">
        <a th:href="@{/posts}">Posts</a>
        <a th:href="@{/posts/new}">New Post</a>
        <a th:if="${user != null}" th:href="@{/users/profile}" class="account-btn">My Profile</a>
        <a th:if="${user != null && user.isAdmin}" th:href="@{/users/admin}">Admin Panel</a>
        <a th:if="${user != null}" th:href="@{/users/logout}">Logout</a>
        <a th:unless="${user != null}" th:href="@{/users/login}">Login</a>
        <a th:unless="${user != null}" th:href="@{/users/register}">Register</a>
    </div>
</nav>

</body>
</html>