<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/style.css}">

    <title>Login</title>
</head>

<body>

<header class="topbar">
    <a class="logo" th:href="@{/}">
        Car Forum
    </a>

    <input type="checkbox"
           id="menu-toggle"
           class="menu-toggle-checkbox">

    <label for="menu-toggle" class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </label>

    <nav class="nav-links">
        <a th:href="@{/}">Home</a>
        <a th:href="@{/users/register}">Register</a>
    </nav>
</header>

<div class="form-page">

    <form th:action="@{/users/login}"
          th:object="${loginDto}"
          method="post">

        <label>Login</label>

        <label for="username">Username</label>

        <input id="username"
               type="text"
               th:field="*{username}">

        <label class="error"
               th:if="${#fields.hasErrors('username')}"
               th:errors="*{username}">
        </label>


        <label for="password">Password</label>

        <input id="password"
               type="password"
               th:field="*{password}">

        <label class="error"
               th:if="${#fields.hasErrors('password')}"
               th:errors="*{password}">
        </label>


        <label class="error"
               th:if="${errorMessage}"
               th:text="${errorMessage}">
        </label>

        <input type="submit" value="Login">

        <a th:href="@{/users/register}">
            Don't have an account? Register
        </a>

    </form>

</div>

</body>
</html>