<!doctype html>
<html lang="en"  xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Update</title>
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>


<form action="#" th:action="@{/posts/{id}/update(id = ${postId})}" th:object="${post}" method="post">

    <label>Post</label>
    <br>
    <label>Title</label>
    <input type="text" th:field="*{title}"/>
    <label class="error" th:errors="*{title}">Name of error</label>
    <br><br>

    <label>Content</label>
    <textarea th:field="*{content}"></textarea>
    <label class="error" th:errors="*{content}">Name of error</label>
    <br><br>

    <input type="submit" value="Save"/>

</form>

</body>
</html>