<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Post</title>
</head>
<body>
<div class="body-content">
    <div class="post-header">
        <h1 th:text="${postDetails.post.title}">Title</h1>
        <a th:href="@{/posts}" th:text="${postDetails.post.user.username}">Creator</a>
    </div>
    <div class="post-content">
        <p th:text="${postDetails.post.content}">Content</p>
    </div>
    <div class="post-likes">
        <form action="#" th:action="@{/posts/{postId}/like(postId=${postDetails.post.id})}" method="post">
            <button type="submit"
            class="like-btn"
            th:classappend="${postDetails.liked} ? 'liked' : 'not-liked'"
            th:text="${postDetails.liked} ? 'Liked' : 'Like'">
                Like
            </button>
        </form>
        <span th:text="${postDetails.likes} + ' likes'">0 likes</span>
    </div>
    <div>
        <h2>Comments</h2>
    </div>
    <div class="comment-section">
    <div class="add-comment">
        <form action="#" th:action="@{/posts/{postId}/comment(postId=${postDetails.post.id})}"
              th:object="${commentDto}" method="post">
            <textarea th:field="*{content}" placeholder="Write a comment..." required></textarea>
            <button type="submit">Post comment</button>
        </form>
    </div>
    <div class="post-comments" th:each="comment : ${postDetails.comments}">
        <a th:href="@{/posts}" th:text="${comment.user.username}">Commentator</a>
        <p th:text="${comment.content}">Content</p>
    </div>
    <p th:if="${postDetails.comments.isEmpty()}">No comments yet!</p>


    </div>
</div>

</body>
</html>