<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<h1>Register</h1>

<form th:action="@{/users/register}"
      th:object="${userCreateDto}"
      method="post">

    <div>
        <label for="username">Username</label>
        <input id="username" type="text" th:field="*{username}">

        <p th:if="${#fields.hasErrors('username')}"
           th:errors="*{username}">
        </p>
    </div>

    <div>
        <label for="password">Password</label>
        <input id="password" type="password" th:field="*{password}">

        <p th:if="${#fields.hasErrors('password')}"
           th:errors="*{password}">
        </p>
    </div>

    <div>
        <label for="firstName">First name</label>
        <input id="firstName" type="text" th:field="*{firstName}">

        <p th:if="${#fields.hasErrors('firstName')}"
           th:errors="*{firstName}">
        </p>
    </div>

    <div>
        <label for="lastName">Last name</label>
        <input id="lastName" type="text" th:field="*{lastName}">

        <p th:if="${#fields.hasErrors('lastName')}"
           th:errors="*{lastName}">
        </p>
    </div>

    <div>
        <label for="email">Email</label>
        <input id="email" type="email" th:field="*{email}">

        <p th:if="${#fields.hasErrors('email')}"
           th:errors="*{email}">
        </p>
    </div>

    <div>
        <label for="phoneNumber">Phone number</label>
        <input id="phoneNumber" type="text" th:field="*{phoneNumber}">

        <p th:if="${#fields.hasErrors('phoneNumber')}"
           th:errors="*{phoneNumber}">
        </p>
    </div>

    <p th:if="${errorMessage}"
       th:text="${errorMessage}">
    </p>

    <button type="submit">Register</button>

    <a th:href="@{/home}">Back</a>
</form>

</body>
</html>